body{
    margin: 0;
    text-align: center;
    font-family: 'merriweather', serif;
    
    
}

h1{
    margin: 0;
    font-size: 90px;
    margin-top: 50px;
    font-family: 'sacramento', cursive;
}
 
h2{
    font-size: 2.5rem;
    font-family: 'montserrat', sans-serif;
}

h3{
    font-family: 'montserrat' sans-serif;
}

div{
    background-color: #e4f9f5;
    padding-top: 100px;
    
}

.bottom-cloud{
    position: absolute; 
    left: 300px;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.profile Img{
    height: 100px;
    width: 100px;
}